@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.guestEdit-main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 1250px;
    right:130px;
    top: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.guestEdit-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.guestEdit-header h2 {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
}

.guestEdit-header svg {
    cursor: pointer;
}
form {
    column-gap: 20px;
}
.edit-guest-row1,
.edit-guest-row2,
.edit-guest-row3{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.edit-guest-row1 input,
.edit-guest-row2 input {
    border: 2px solid;
    border-radius: 5px;
    border-color: #0F4C75;
    width: 603px;
    height: 35px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
}
.edit-guest-row3 input {
    border: 2px solid;
    border-radius: 5px;
    border-color: #0F4C75;
    width: 1225px;
    height: 35px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
}
.update-guest button {
    border: 2px solid;
    border-radius: 5px;
    border-color: #0F4C75;
    width: 100px;
    height: 30px;
    background-color: #0F4C75;
    color: white;
    margin-top: 20px;
    margin-left: 45%;
    cursor: pointer;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

