/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #0A192F; /* Dark blue background */
  height: 100vh;
  padding: 0; /* Remove padding to eliminate space with header */
  color: white;
  overflow-y: auto; /* Allows scrolling when content overflows */
  margin-top: -20px;
}

/* Menu Item */
.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.menu-item .icon {
  margin-right: 10px;
  color: #8892B0; /* Lighter blue for icons */
}

.menu-item a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  flex: 1;
}

.menu-item.active, 
.menu-item:hover {
  background-color: #0B3D91; /* Bright blue highlight */
  border-radius: 10px;
}

/* Dropdown Styles */
.dropdown {
  position: relative; /* Set position relative to parent */
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

/* Ensure the dropdown is positioned correctly */
.dropdown-menu {
  position: absolute; /* Position the dropdown absolutely */
  top: 100%; /* Position it directly below the dropdown container */
  left: 0; /* Align to the left */
  margin-top: 5px; /* Optional: Add some space */
  padding-left: 30px; /* Indent dropdown items */
  background-color: #0B3D91;
  z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown-item {
  display: block;
  padding: 8px 0;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.dropdown-item:hover {
  color: #00A3FF; /* Highlight text on hover */
}

/* Adjustments for visibility */
.sidebar .menu-item {
  white-space: nowrap; /* Prevent text wrapping */
}

/* src/components/sidebar/sidebar.css */

/* Add this style to the bottom of your existing sidebar.css file */
/* .logout-button {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-top: auto;
  background-color: #f11b49;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 370px;
  
  
} */

.logout-button .icon {
  margin-right: 10px;
  background-color: red;
}