.button-group {
    margin-top: 20px; /* Adds space above the buttons */
    display: flex; /* Keeps buttons side by side */
    gap: 10px; /* Space between buttons */
    justify-content: flex-start; /* Aligns buttons to the left */
}

.add-button {
    background-color: #0F4C75; /* Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* New class to apply spacing to the entire form */
form {
    padding-bottom: 40px; /* Adds padding to the bottom of the form */
}

/* Icon button styles */
.icon-button {
    background-color: transparent; /* No background color */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    color: #ffffff; /* White text color */
    margin-left: 10px; /* Space between select and button */
    padding: 5px; /* Padding around the icon */
}

.icon-button:hover {
    color: #0056b3; /* Darker blue on hover */
}

.icon-button i {
    font-size: 14px; /* Small icon size */
}
