@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.add-room-button {
    padding: 8px 12px; 
    font-size: 14px;
    background-color: #0F4C75 !important; 
    color: white; 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    display: inline-flex; /* Use inline-flex to center text vertically */
    align-items: center; /* Align text vertically in the button */
}

.add-room-button:hover {
    background-color: #063855; /* Darker on hover */
}

.room-table {
    width: 100%;
    border-collapse: collapse;
}

.room-table th, .room-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.room-table th {
    background-color: #0F4C75;
    color: white;
}

.room-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.room-table tr:hover {
    background-color: #ddd;
}

button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #0F4C75;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:last-child {
    background-color: #dc3545;
}

button:last-child:hover {
    background-color: #c82333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button.active {
    background-color: #0056b3;
}

.pagination button:hover {
    background-color: #0056b3;
}
