@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.invoice-container {
  margin-top: 20px;
  margin-left: 20px;
  width: 1200px;
  height: auto;
  border-color: #0F4C75;
  border: solid 1px;
  border-radius: 5px;
  padding: 20px;
}
.invoice-header {
  font-family: "Inria Sans", system-ui;
  font-weight: 700;
  font-style: normal;
}
.invoice-infos{
  display: flex;
  gap: 600px;
}
.invoice-detail{
  display: flex;
  gap: 600px;
}
.invoice-items table {
  width: 100%;
  border-collapse: collapse;
}
.invoice-items th{
  padding: 10px;
  text-align: left ;
  border: 1px solid #0F4C75;
  background-color: #0F4C75;
  color: white;
}
.invoice-items td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.invoice-items tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-items tbody tr:hover {
  background-color: #f5f5f5;
}
.invoice-total {
  margin-left: 80%;
}
.invoice-footer {
  margin-top: 100px;
  text-align: left;
  color: rgb(145, 145, 145);
  font-family: "Inria Sans", system-ui;
  font-style: normal;
}
strong {
  font-size: large;
}