/* src/pages/Login&Rgister/Register.css */
.register-container {
  background-color: #003366; /* Dark Blue background */
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button.register-btn {
  background-color: #0056b3; /* Slightly lighter blue for the button */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button.register-btn:hover {
  background-color: #004494; /* Darker blue on hover */
}

.message {
  margin-top: 10px;
}

.login-link {
  color: #66ccff; /* Light blue for the link */
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
