.add-accommodation-type-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e2a47; /* Dark blue background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff; /* White text color */
}

.add-accommodation-type-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-input,
.form-textarea,
.file-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}

.form-buttons {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  width: 100%;
  gap: 10px; /* Adds space between buttons */
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: #007BFF;
  color: white;
}

.submit-button:hover {
  background-color: #004085;
}

.cancel-button {
  background-color: #f1f1f1;
  color: #333;
}

.cancel-button:hover {
  background-color: #dc3545;
}

.file-input {
  margin-top: 10px;
}

.selected-image {
  margin-top: 5px;
  color: #aaa;
}
