.add-room-type-form {
  display: flex;
  flex-direction: column;
  width: 1000px;
  max-width: 370px; /* Adjusted width */
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-room-type-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-input, .form-textarea, .file-input {
  padding: 6px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.form-textarea {
  resize: vertical;
  height: 60px;
}

.form-buttons {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  width: 100%; /* Ensure buttons stretch across the container */
  gap: 10px; /* Adds space between buttons */
}

.submit-button, .cancel-button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
}

.submit-button {
  background-color: #0056b3;
  color: white;
}

.submit-button:hover {
  background-color: #004085;
}

.cancel-button {
  background-color: #6c757d;
  color: white;
}

.cancel-button:hover {
  background-color: red;
}

.add-room-type-form {
  justify-content: center;
  align-items: center;
}
