/* src/components/RoomFeatures.css */
.room-features-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
}

.add-button,
.search-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.add-button:hover,
.search-button:hover {
  background-color: #45a049;
}

.search-container {
  margin: 20px 0;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.styled-table th {
  background-color: #f2f2f2;
}

.actions-column {
  display: flex;
  gap: 5px;
}

.btn-edit {
  background-color: #ffa500; /* Orange */
  color: white;
  border: none;
  cursor: pointer;
}

.btn-delete {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  cursor: pointer;
}

.add-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.add-form input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}

.page-button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #1e3a8a; /* Dark blue */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-button:hover {
  background-color: #163a6b; /* Darker blue */
}

.page-button.active {
  background-color: #2c5282; /* Even darker blue for active page */
}
