.room-type-list {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #0F4C75 !important; /* Ensure it overrides other styles */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.search-button {
  background-color: #0F4C75 !important;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}


.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.styled-table th {
  background-color: #f4f4f4;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table .btn {
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
}

.btn-edit {
  background-color:#0F4C75;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}
